<div id="principal">
  <h2>Violência Contra as Mulheres no Brasil</h2>

  <br>

  <div>
    <p>A violência de gênero contra as mulheres acontece de diversas maneiras, podendo ser violência psicológica, verbal, patrimonial e também física.</p>
    <p>No <a href="https://dossies.agenciapatriciagalvao.org.br/feminicidio/capitulos/qual-a-dimensao-do-problema-no-brasil/">Ranking</a> de homicídios de mulheres da Organização das Nações Unidas - ONU, o Brasil ocupa o 5º lugar.</p>
  </div>

  <br>

  <div>
    <p>Aqui você poderá encontrar uma lista de instituições que apoiam mulheres vítimas de violência e também um conjunto de leis que amparam essas mulheres. </p>
    <br>
    <a href="https://www.gov.br/pt-br/servicos/denunciar-e-buscar-ajuda-a-vitimas-de-violencia-contra-mulheres" target="_blank"><button class="botao">Denuncie!</button></a>
  </div>
</div>
