<div id="principal">
  <h2>Você sofre violência ou conhece alguma mulher que precise de ajuda?</h2>

  <br>

  <div>
    <p>A violência de gênero contra as mulheres acontece de diversas maneiras: violência psicológica, verbal, patrimonial e também física.</p>
    <p>No <a href="https://dossies.agenciapatriciagalvao.org.br/feminicidio/capitulos/qual-a-dimensao-do-problema-no-brasil/">ranking</a> de homicídios de mulheres da Organização das Nações Unidas - ONU, o Brasil está em 5º lugar .</p>
    <p>Para o combate à essas violências é necessário além de informação jurídica, uma rede de apoio que possibilite a denúncia e forneça apoio emocional necessário.</p>
  </div>

  <br>

  <div>
    <p>No menu você encontrará uma lista de instituições que apoiam mulheres vítimas de violência e também um conjunto de leis que sobre o tema. </p>
    <br>
    <a href="https://www.gov.br/pt-br/servicos/denunciar-e-buscar-ajuda-a-vitimas-de-violencia-contra-mulheres" target="_blank"><button class="botao">Clique aqui para denunciar!</button></a>
  </div>
</div>
