h2 {
  margin-top: 50px;
}

@media (min-width: 720px) {
  div {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 80%;
  }
}
