  <h2>Este site foi desenvolvido por:</h2>
    <div>
      <div>
        <h3>Brenna Pacheco</h3>
        <p><a href="https://www.linkedin.com/in/brenna-pacheco/" target="_blank">Contato</a></p>
      </div>

      <div>
        <h3>Gustavo Arendt</h3>
        <p><a href="https://www.linkedin.com/in/gustavo-arendt-40417a139/" target="_blank">Contato</a></p>
      </div>

      <div>
        <h3>Leila Sampaio</h3>
        <p><a href="https://www.linkedin.com/in/lsamsilva/">Contato</a></p>
      </div>
    </div>
  <div>
    <h2><a href="https://github.com/gustavoarendt/IterisHackathon" target="_blank">Repositório do Projeto</a></h2>
    <br>
    <p>Projeto desenvolvido durante o Hackathon Decola | Iteris em Junho de 2021.</p>
  </div>


