.leisPage{
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dedede;
}

.leiNome{
  font-weight: bold;
}

.leiData{
  position: relative;
  top: -20px;
  color: rgba(0, 0, 0, 0.5);
}

.leiDescricao{
  padding-bottom: 10px;
}

.leiLink{
  text-decoration: none;
  text-decoration-color: none;
}

